<header class="row">
	<div class="col-sm-12 col-md-6 col-lg-7">
		<h1><a href="{{ photos[whichItem].link }}" target="_blank">{{ photos[whichItem].title }}</a></h1>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-5">
		<div class="button-container">
			<a class="button" href="#/">Back to Results</a>
			<a href="#/photos/{{ prevItem }}" class="button">Previous Photo</a>
			<a href="#/photos/{{ nextItem }}" class="button">Next Photo</a>
		</div>
	</div>
	<div class="col-sm-12">
	<h3><a href="https://www.flickr.com/photos/{{ photos[whichItem].author_id }}" target="_blank" >{{ photos[whichItem].author }}</a> | Published: {{ photos[whichItem].date_taken | date:"dd MMMM yyyy 'at' hh:mm" }} </h3>
	</div>
</header>
<div class="row">
	<div class="col-sm-12 photo-description clearfix" ng-bind-html='toTrustedHTML( photos[whichItem].description )'>

	</div>
	<div class="col-sm-12">
		<hr/>
		<h3>Tags</h3>
		<p> {{ photos[whichItem].tags }}</p>
	</div>
</div>